/* Matugen GTK override template for your Matugen version */

@define-color primary #87d6bd;
@define-color on_primary #00382c;
@define-color primary_container #005141;
@define-color on_primary_container #a2f2d9;

@define-color secondary #b2ccc2;
@define-color on_secondary #1d352e;
@define-color secondary_container #344c44;
@define-color on_secondary_container #cde9dd;

@define-color tertiary #a9cbe2;
@define-color on_tertiary #0e3446;
@define-color tertiary_container #284b5e;
@define-color on_tertiary_container #c4e7ff;

@define-color error #ffb4ab;
@define-color on_error #690005;
@define-color error_container #93000a;
@define-color on_error_container #ffdad6;

@define-color background #0f1512;
@define-color on_background #dee4e0;
@define-color surface #0f1512;
@define-color on_surface #dee4e0;

@define-color surface_variant #3f4945;
@define-color outline #89938e;
@define-color outline_variant #3f4945;

@define-color inverse_surface #dee4e0;
@define-color inverse_on_surface #2b322f;
@define-color inverse_primary #106b57;
