* {
    primary: #4C73A0;
    primary-fixed: #3F79BC;
    primary-fixed-dim: #4C73A0;
    on-primary: #030308;
    on-primary-fixed: #05050C;
    on-primary-fixed-variant: #3F79BC;
    primary-container: #4C73A0;
    on-primary-container: #3F79BC;
    secondary: #5176A1;
    secondary-fixed: #467DBD;
    secondary-fixed-dim: #5176A1;
    on-secondary: #030308;
    on-secondary-fixed: #05050C;
    on-secondary-fixed-variant: #467DBD;
    secondary-container: #5176A1;
    on-secondary-container: #467DBD;
    tertiary: #697C9B;
    tertiary-fixed: #7693C0;
    tertiary-fixed-dim: #697C9B;
    on-tertiary: #030308;
    on-tertiary-fixed: #05050C;
    on-tertiary-fixed-variant: #7693C0;
    tertiary-container: #697C9B;
    on-tertiary-container: #7693C0;
    error: #444F61;
    on-error: #B2CFFF;
    error-container: #444F61;
    on-error-container: #47566E;
    surface: #05050C;
    on-surface: #B2CFFF;
    on-surface-variant: #A3C0F0;
    outline: #6480AC;
    outline-variant: #6480AC;
    shadow: #05050C;
    scrim: #05050C;
    inverse-surface: #C9D7EF;
    inverse-on-surface: #05050C;
    inverse-primary: #3F79BC;
    surface-dim: #05050C;
    surface-bright: #C9D7EF;
    surface-container-lowest: #05050C;
    surface-container-low: #05050C;
    surface-container: #05050C;
    surface-container-high: #6480AC;
    surface-container-highest: #6480AC;
}
