/* Base surface MUST be transparent for Hyprland blur */
window {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #F2D8FF;
}

/* Real background applied to the INNER widget */
#outer-box {
    /* Use the | rgb filter for comma-separated values */
    background-color: rgba(7,5,11, 0.2); 
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
}

/* Input box */
#input {
    background-color: rgba(155,132,185, 0.27); 
    color: #F2D8FF;
    border-radius: 12px;
    padding: 6px;
}

/* Selected entry - Overridden to Blue to avoid "Bullshit Red" */
#entry:selected {
    /* We point this to color4 (Blue) instead of color1 (Red) */
    background-color: rgba(93,104,156, 0.33); 
    color: #050307;
    border-radius: 12px;
}
